{{ partial "header.html" . }}
{{ $lang := .Site.Language.Lang }}

<section style="background-color: #373b50; padding: 0;">
  <fde-hero class="container" lang="{{$lang}}">
    <p>{{ i18n "mission" }}</p>

    <p><a href="{{ relref . (printf "the-case-method.%s.md" $lang) }}"><paper-button style="background: #f2f7fa" raised>{{ i18n "learn_more_method" }}</paper-button></a></p>

    <p><a href="#offered-courses"><paper-button style="background: #f2f7fa" raised>{{ i18n "see_courses" }}</paper-button></a></p>
  </fde-hero>
</section>

<section>

  <div class="container">
    <a id="offered-courses"></a>
    <featured-courses title="{{ i18n "offered_courses" }}">
    {{ range where .Site.RegularPages "Section" "sessions" }}
      {{ $s := newScratch }}
      {{ $s.Set "venue" . }}
      {{ $s.Set "original" . }}
      {{ if eq .Params.venue nil }}
        {{ range $tx := .Translations }}{{ if ne $tx.Params.venue nil }}
          {{ $s.Set "venue" $tx }}
        {{ end }}{{ end }}
      {{ end }}
      {{ $vp := ($s.Get "venue").Params }}
      {{ $v := $s.Get "venue" }}
      {{ $o := $s.Get "original" }}

      <fde-course image="{{ $vp.session.course_image }}"
                  permalink="{{ $v.Permalink }}"
                  label="{{ $o.Title }}"
                  past="{{if $vp.past }}{{i18n "past"}}{{end}}"
                  language="{{ i18n (printf "language_%s" $v.Lang) }}"
                  venue="{{ $vp.venue.name }}"
                  mapslink="{{ $vp.venue.map_link }}"
                  startdate="{{ i18n "starts" }} {{ $vp.session.start_date }}"
                  details="{{ i18n "details" }}"
                  register="{{ if isset $vp "registration" }}{{ i18n "register_now" }}{{ end }}"
                  ></fde-course>

    {{ end }}
    </featured-courses>
  </div>
</section>

<section hero>
  <fde-latest-news class="container">
    <h2 title>{{ i18n "latest_news" }}</h2>

    {{ partial "homepage-latest-news.html" . }}
  </fde-latest-news>
</section>

<!-- section class="sponsors">
  <div class="container align-center">

    <h4>{{ i18n "sponsors" }}</h4>

    <div>
      {{ range .Site.Menus.main }}
        {{ if eq .Weight 40 }}
        <a href="{{ .URL }}"><paper-button raised class="primary">{{ i18n "become_a_sponsor" }}</paper-button></a>
        {{ end }}
      {{end}}
    </div>
  </div>
</section-->

{{ partial "footer.html" . }}
