{{ partial "header.html" . }}
{{ $lang := .Site.Language.Lang }}

<section style="background-color: #373b50; padding: 0;">
  <fde-hero class="container" lang="{{$lang}}">
    <p>{{ i18n "mission" }}</p>

    <p><a href="{{ relref . (printf "the-case-method.%s.md" $lang) }}"><paper-button style="background: #f2f7fa" raised>{{ i18n "learn_more_method" }}</paper-button></a></p>

    <p><a href="#offered-courses"><paper-button style="background: #f2f7fa" raised>{{ i18n "see_courses" }}</paper-button></a></p>
  </fde-hero>
</section>

<section>

  <div class="container">
    <a id="offered-courses"></a>
    <featured-courses title="{{ i18n "offered_courses" }}">
    {{ range where .Site.Pages "Section" "sessions" }}

      {{ $.Scratch.Set "p" . }}
      {{ if ne .Params.session_language nil }}
        {{ $untransPage := . }}
        {{ range $tx := .Translations }}{{ if eq $tx.Lang $untransPage.Params.session_language }}
          {{ $.Scratch.Set "p" $tx }}
        {{ end }}{{ end }}
      {{ end }}
      {{ $pp := ($.Scratch.Get "p").Params }}
      {{ $p := $.Scratch.Get "p" }}

      <fde-course image="{{ $pp.session.course_image }}"
                  permalink="{{ $p.Permalink }}"
                  label="{{ $p.Title }}"
                  past="{{if $pp.past }}{{i18n "past"}}{{end}}"
                  venue="{{ $pp.venue.name }}"
                  mapslink="{{ $pp.venue.map_link }}"
                  startdate="{{ $pp.session.start_date }}"
                  details="{{ i18n "details" }}"
                  register="{{ if isset $pp "registration" }}{{ i18n "register_now" }}{{ end }}"
                  ></fde-course>

    {{ end }}
    </featured-courses>
  </div>
</section>

<section hero>
  <fde-latest-news class="container">
    <h2 title>{{ i18n "latest_news" }}</h2>

    {{ partial "homepage-latest-news.html" . }}
  </fde-latest-news>
</section>

<!-- section class="sponsors">
  <div class="container align-center">

    <h4>{{ i18n "sponsors" }}</h4>

    <div>
      {{ range .Site.Menus.main }}
        {{ if eq .Weight 40 }}
        <a href="{{ .URL }}"><paper-button raised class="primary">{{ i18n "become_a_sponsor" }}</paper-button></a>
        {{ end }}
      {{end}}
    </div>
  </div>
</section-->

{{ partial "footer.html" . }}
