# Traffic unwrapped at the Ingress Controller level..
tls off

http://www.fde-mtl.ca, http://fde-mtl.org, http://www.fde-mtl.org {
    redir https://fde-mtl.ca{uri}
}

http://projetfamille.ca, http://www.projetfamille.ca {
    redir https://fde-mtl.ca
}

http://fde-mtl.ca {
    log fde-mtl.access.log
    errors fde-mtl.error.log

    root /app/fde-mtl/public
    git https://github.com/abourget/fde-mtl {
        hook /trigger/a/freaking/rebuild Vioshu9eshnamoquin
        path ../
        then hugo --destination=/app/public
    }
}
