# Traffic unwrapped at the Ingress Controller level..

:80 {
    # for health checking
    status 200 /
}

http://www.fde-mtl.ca {
    redir https://fde-mtl.ca{uri}
}

http://projetfamille.ca, http://www.projetfamille.ca {
    redir https://fde-mtl.ca
}

http://fde-mtl.ca {
    log fde-mtl.access.log
    errors fde-mtl.error.log

    root /fde-mtl/public
    git https://github.com/abourget/fde-mtl {
        hook /trigger/a/freaking/rebuild [INSERT_WEBHOOK_SECRET]
        path ../
        then hugo --destination=/fde-mtl/public
    }
}
